.navMenu {
  display: flex;
  gap: 10px;
}

.icon {
  box-sizing: content-box;
  padding: 7px;
  border-radius: 4px;
  background: rgb(231, 231, 231);
  border: 1px solid transparent;
  transition: 0.2s;
}

.icon:hover,
.icon:focus {
  background: #fff;
  border: 1px solid gray;
  box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.36);
}

a:global(.active) .icon {
  background: #fff;
  border-color: #fb1;
  color: #fb1;
  box-shadow: 0 0 0 3px #fea;
}
a:global(.active) .icon > * {
  fill: #fb1;
}
