:root {
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', georgia;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  padding-top: 4rem;
  color: #333;
  font-family: var(--type-first);
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
  background: none;
  border: none;
}
button {
  cursor: pointer;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
